body {
  font-family: "Slackey", Arial;
}

header {
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.gamePage{
  background-color: #E4DBBF;
  height: 600px;
  border-radius: 5px;
}

.start{
  border: none;
  border-radius: 10px;
  font-size: 70px;
  background-color:#DC5B21;
  padding: 10px;
  margin-top: 220px;

}

.announceScore{
  display: none;
  height: 600px;
  background-color:#DC5B21;
  border-radius: 5px;
  text-align: center;
}

h1{
  font-size: 60px;
}

.playAgain {
  display: none;
}

.scoreboard {
  background-color: #70AB8F;
  border-radius: 5px;
  height: 140px;
  margin-bottom: 30px;
  font-size: 35px;
  text-align: center;
}

.timer {
  background-color: #70AB8F;
  border-radius: 5px;
  height: 140px;
  margin-bottom: 30px;
  font-size: 35px;
  text-align: center;
}

.lives {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 30px;
}

#a{
  margin-left:33.3px;
  margin-right:33.3px;
}
#b{
  margin-right:33.3px;
}

.life {
  background-color: #70AB8F;
  border-radius: 5px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  border: 2px #5D7A77;
}

.fallingLetters {
  position: absolute;
}

.gameOver {
  display: none;
  height: 600px;
  background-color:#DC5B21;
  border-radius: 5px;
  text-align: center;
}

.gameAgain {
  border:none;
  border-radius: 10px;
  background-color: #70AB8F;
}

.reset{
  border: none;
  border-radius: 5px;
  background-color: #DC5B21;
  font-size: 30px;
}

.playerName{
  text-align: center;
  font-size: 30px;
  color: #627182;
}

#over{
  margin-top:200px;
  font-size: 80px;
}